################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Web-Development/FileContentIndex/324002e8-112c-4dc9-9f8a-854e17bcccce.vsidx
/.vs/Web-Development/FileContentIndex
/.vs/Web-Development/FileContentIndex/581fc1ec-e6c5-454c-b145-8c2fecffedc3.vsidx
