################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Web-Development/FileContentIndex/324002e8-112c-4dc9-9f8a-854e17bcccce.vsidx
/.vs/Web-Development/FileContentIndex
/.vs/Web-Development/FileContentIndex/581fc1ec-e6c5-454c-b145-8c2fecffedc3.vsidx
/.vs/Web-Development/DesignTimeBuild/.dtbcache.v2
/.vs/Web-Development/FileContentIndex/72e9aea3-9711-4f56-a0b4-833ea762ad51.vsidx
/.vs/Web-Development/FileContentIndex/9495000c-9bcd-4082-8f32-b1976d638140.vsidx
/.vs/Web-Development/FileContentIndex/a74f6d3f-6919-4e4a-a13c-debe6013c4c5.vsidx
/.vs/Web-Development/FileContentIndex/ab6d2bd0-f2f2-44f5-87b4-6a6226a8095b.vsidx
/.vs/Web-Development/v17/.suo
/obj/Debug/net8.0/Web-Development.AssemblyInfoInputs.cache
/obj/Debug/net8.0/Web-Development.assets.cache
/obj/Debug/net8.0/Web-Development.csproj.AssemblyReference.cache
/obj/Debug/net8.0/Web-Development.GeneratedMSBuildEditorConfig.editorconfig
/obj/project.assets.json
/obj/project.nuget.cache
/obj/Web-Development.csproj.nuget.dgspec.json
/obj/Web-Development.csproj.nuget.g.props


.fake